<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- namespace 必须等于mapper。java所在的命名空间，这是开发规范 -->
<mapper namespace="dao.CityMapper">



    <select  id="findCityByID"  parameterType="java.lang.String"   resultType="firstMyBatis.batis.po.City">
     select * from city where id = #{id}
    </select>
    
    
    
    <select  id="findCityByName" parameterType="java.lang.String"  resultType="firstMyBatis.batis.po.City">
         select * from city where name like '%${value}%'
    </select>
    
    
    
    <insert id="insertCity" parameterType="firstMyBatis.batis.po.City">
        <!-- 
                                         将插入数据的主键返回到user对象中
            LAST_INSERT_ID()：mysql的函数，得到刚才insert 进去记录的主键值，只使用于自增主键
            keyProperty：将主键值设置到parameterType指定对象的的属性（此处就是id）
            order：指定selectKey中的语句和insert语句的执行顺序关系
            resultType:返回的主键数据类型 
         -->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
            SELECT LAST_INSERT_ID()
        </selectKey>
    insert into city(name,countryCode,district,population) values(#{name},#{countryCode},#{district},#{population})
    </insert>
    
    
    
    <delete  id="deleteCityById" parameterType="java.lang.String"  >
         delete from city where id = #{id}
    </delete>
    
    
    
        
    <update  id="updateCity" parameterType="firstMyBatis.batis.po.City"  >
         
         update city set name=#{name}, countryCode=#{countryCode}, district=#{district}, population=#{population}
            where id=#{id}
    </update>
    
</mapper>